<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIFp1eO5OGcpxfk_EHb1cxKi6x0Mg9koA</string>
	<key>GCM_SENDER_ID</key>
	<string>1089221743886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Kenny.HeartGauge</string>
	<key>PROJECT_ID</key>
	<string>xcode-test-45bcb</string>
	<key>STORAGE_BUCKET</key>
	<string>xcode-test-45bcb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089221743886:ios:59d17a9dd459b52261f35f</string>
</dict>
</plist>